<head>
    <meta charset="UTF-8">
    <title>SOPHIE'S</title>

    <link id="themecss" rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/theme.css">
</head>
<body class="pb-creativity-body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#div-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LOOK LIKE A ROYAL</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="div-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="smooth-scroll" href="home.html">Home</a><H/li>
                    <li><a class="smooth-scroll" href="about.html">About</a></li>
                    <li><a class="smooth-scroll" href="services.html">Services</a></li>
                    <li><a class="smooth-scroll" href="port.html">Portfolio</a></li>
                    <li><a class="smooth-scroll" href="contact.html">Contact us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="img/stil.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>variety of attaires every woman needs have in her closet</p>
        </div>
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="img/tom.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p> latest fashons</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="img/toa.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>shoes and bags</p>
        </div>
      
    </div>
  </div>
</div>





 <div id="services" class="container pb-creativity-services">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fa fa-bank fa-3x"></span>
                <h3 class="pb-creativity-services-h3">Donate</h3>
                <p>Donate if you like it!</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="fa fa-camera-retro fa-3x"></span>
                <h3 class="pb-creativity-services-h3">Best Practices</h3>
                <p>Everything is made with the best practices!</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="fa fa-cogs fa-3x"></span>
                <h3 class="pb-creativity-services-h3">Change as you like!</h3>
                <p>The theme is 100% free, you can use it like that or change it as you like!</p>
            </div>
            <div class="col-md-3 text-center">
                <span class="fa fa-commenting-o fa-3x"></span>
                <h3 class="pb-creativity-services-h3">Up on date!</h3>
                <p>Our templates are updated regularly so they don't break!</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
   
<div class="pb-creativity-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Contact us</h3>
                    <ul>
                        <li>54, North Road, PA 45086, USA</li>
                        <li>+1 888 455 6677</li>
                        <li>mail@example.com</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Blog</h3>
                    <ul>
                        <li>Color palettes</li>
                        <li>Creating beatiful design</li>
                        <li>Responsive pages</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Other</h3>
                    <ul>
                        <li>F.C. Barcelona</li>
                        <li>Will humans beat aging soon?</li>
                        <li>Do aliens exists?</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p id="createdby">Created by <a href="www.shieldui.com">Shield UI</a> and hosted by <a href="www.prepboostrap.com">PrepBootstrap</a></p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>