.text-color{
	color:#333333;
}
.hrcustom{
	background-color:#333333;

}
.thumbnail img{
	height:50px;
   
}
.pb-creativity-headers {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-image: url('../img/lady.jpg');
	text-align: center;
	color: white;
	font-size: 20px;
}
.pb-creativity-btn-finds {
	display: block;
	margin: 0 auto;
	margin-top: 300px;
	padding: 15px 20px;
	border: none;
}